body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  font-size: 15px;
  color: #333;
  line-height: 1.6;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background-color: #9d9fff;
}
.page {
  overflow: hidden;
}
/* Container*/
.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/* intro*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 820px;
  background: url("../images/pic/intro.jpeg") center no-repeat;
  background-size: cover;
  background-color: rgb(66, 62, 62);

  opacity: 75%;
}

.intro__inner {
  width: 100%;
  height: 300px;
  max-width: 880px;
  margin: 0 auto;
}

.intro__title {
  font-family: "Pacifico", cursive;
  font-size: 80px;
  font-weight: 550;
  color: #007cd5;

  text-align: center;
  line-height: 1;
}
.intro__suptitle {
  font-family: "Pacifico", cursive;
  font-size: 60px;
  color: #007cd5;
  text-align: center;
}

.intro__subtitle {
  padding-top: 30px;
  height: 30px;
  font-family: serif;
  font-size: 35px;
  color: #f4ca16;
  text-align: center;
}

.intro__img {
  max-width: 100%;
  height: auto;
  text-align: center;
}

/* Header*/
.header {
  padding-top: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header.fixed {
  padding: 2px 0;

  background-color: #0093f8;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.7;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
}

.header.active {
  background-color: #0093f8;
  color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #081797;
}

/* nav*/

.nav {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}
.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  position: relative;

  color: #081797;
  text-decoration: none;

  transition: color 0.2s linear;
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;

  background-color: #0093f8;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.1s linear;
}
.nav__link:hover {
  color: #fce38a;
}
.nav__link:hover::after,
.nav__link.active::after {
  opacity: 1;
}

.nav__link.active {
  color: #fce38a;
}

/* Nav toggle */
.nav-toggle {
  width: 30px;
  padding: 10px 0;
  display: none;

  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;

  position: absolute;
  top: 24x;
  right: 24px;
  z-index: 1;
}

.nav-toggle:focus {
  outline: 0;
}
.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;

  background-color: #3739a9;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  transition: bacground 0.2s linear;
}

.nav-toggle__item::before,
.nav-toggle__item::after {
  content: "";
  width: 100%;
  height: 3px;

  background-color: #3739a9;

  position: absolute;
  left: 0;
  z-index: 1;

  transition: transform 0.2s linear;
}
.nav-toggle__item::before {
  top: -8px;
}
.nav-toggle__item::after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}
.nav-toggle.active .nav-toggle__item::before {
  transform-origin: left top;
  transform: rotate(45deg) translateX(-3px);
}
.nav-toggle.active .nav-toggle__item::after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translateX(-3px);
}

/* Section */

.section {
  padding: 80px 0;
  background: url("../images/balerina/bg-about.jpeg") center no-repeat;
  background-size: cover;
}
.section--team {
  background: url("../images/balerina/team-bg.jpeg") center no-repeat;
  background-size: cover;
}
.section--plan {
  background: url("../images/balerina/plan-bg.jpeg") center no-repeat;
  background-size: cover;
}

.section--map {
  padding: 40px 0;
  background: #e6e6e6 url("../images/pic/map.png") center no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;
  text-align: center;
}

.section__suptitle {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #333;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto;
  background-color: #5b5dbe;
}

.section__text {
  font-size: 15px;
  color: #333;
}

/* card */
.card {
  margin: 80px -20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card__item {
  width: 25%;
  padding: 0 22px;
}

.card__inner {
  position: relative;
  background-color: #9d9fff;
}

.card__inner:hover .card__img {
  transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
  opacity: 0.3;
}
.card__inner:hover .card__text {
  opacity: 1;
}

.card__img {
  background: linear-gradient(to bottom, #9457eb, #ede6f7);
  transition: transform 0.1s linear;
}
.card__img img {
  border: #fff solid 3px;
  display: block;
  max-width: 100%;
  height: auto;
  transition: transform 0.1s linear;
}

.card__text {
  width: 100%;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: opacity 0.1s linear;
}

.card__info {
  margin-top: 20px;
  text-align: center;
}
.card__name {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
}
.card__prof {
  color: #242424;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}
/* Statistics */
.statistics {
  background-color: #ccd7f3;
}
.stat {
  display: flex;
  flex-wrap: wrap;
}
.stat__item {
  flex: 1 1 0;
  padding: 70px 25px;
  border-left: 1px solid #9d9fff;

  text-align: center;
  color: #fff;
}
.stat__item:last-child {
  border-right: 1px solid #9d9fff;
}

.stat__count {
  margin-bottom: 10px;

  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}
.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* Services */

.services {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  width: 33.33333%;
  padding: 0 35px 40px 85px;
  position: relative;
  margin-bottom: 40px;
}
.services__icon {
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 1;
}
.services__title {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}
.services__text {
  font-size: 15px;
  color: #999;
}

/* Social */
.social {
  display: flex;
  justify-content: center;
}

.social__item {
  padding: 2px 10px;

  font-size: 40px;
  background-color: #d8d8ffed;
  border-right: 1px solid #1114b1;

  text-decoration: none;
  color: #1114b189;
  line-height: 1;

  transition: background 0.1s linear, color 0.1s leaner;
}
.social__item:last-child {
  border-right: 0;
}
.social__item:hover {
  color: #fc2cf2;
  background-color: #1114b189;
}

/* Works */

.works {
  flex-wrap: wrap;
  display: flex;
}

.works__col {
  flex: 1 1 0;
}

.works__img {
  display: block;

  max-width: 100%;
  height: auto;
}

/*Map*/
.map {
  text-align: center;
}
.map__title {
  font-size: 24px;
  color: red;
  font-weight: 700;
  text-transform: uppercase;
}
.map__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: aqua;
  margin: 15px auto 0;
  background-color: #f38181;
}
.map__title a {
  color: inherit;
  text-decoration: none;
}
.map__title a:hover {
  text-decoration: underline;
}

/*Footer*/
.footer {
  padding-top: 65px;
  border-color: #f8f8f8;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 65px;
  flex-wrap: wrap;
}
.footer__col {
  pad: 0 15px;
}
.footer__col--first {
  width: 40%;
}
.footer__col--second {
  width: 29%;
}

.footer__col--third {
  width: 22%;
}

.footer__logo {
  margin-bottom: 30px;
  font-size: 46px;
  font-weight: 700;
  color: #ccc;
}
.footer__text {
  margin-bottom: 30px;
  font-size: 15px;
  color: #999;
}

.footer__social {
  margin-bottom: 25px;
}

.footer__social-header {
  padding-bottom: 15px;

  font-size: 15px;
  color: #333;

  border-bottom: 1px solid #e5e5e5;
}
.footer__social-header b {
  font-size: 18px;
}
.footer__social-content {
  padding-top: 15px;

  font-size: 15px;
  color: #999;

  font-style: italic;
  font-weight: 300;
}
.footer__social-content a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;

  font-size: 40px;
  color: #95e1d3;
}
.footer__title {
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 16px;
  color: #333;
}

/*Blogs*/

.blogs__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 30px;
}
.blogs__img {
  width: 50px;
  height: 50px;
}
.blogs__content {
  padding-left: 20px;
  align-items: center;
}

.blogs__title {
  display: block;
  color: #333;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
}
.blogs__title:hover {
  text-decoration: underline;
}
.blogs__date {
  font-size: 12px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}

/*Intagram*/
.instagram {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instagram__item {
  width: 33%;
  border-bottom: solid 1px #fff;
}

.instagram__item img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*subscribe*/

.subscribe {
  width: 100%;
  max-width: 380px;
  display: flex;
}
.subscribe__input {
  width: 60%;

  padding: 12px;

  background: #fff;
  border: 1px solid #e7e7e7;
  border-right: 0;

  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.1;
  color: #333;
  font-style: italic;
  font-weight: 300;
}

.subscribe__input::placeholder {
  color: #ccc;
}
.subscribe__input:focus {
  outline: 0;
  border-color: #95e1d3;
}
.subscribe__btn {
  width: 40%;

  padding: 12px 30px;

  background-color: #95e1d3;
  border: 0;
  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.1;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;

  transition: background 0.2s linear;
}

.subscribe__btn:hover {
  background-color: #059278;
}

.subscribe__btn:focus {
  outline: 0;
}

/* button */
.button {
  margin-top: 40px;
  text-align: center;
}

.button a {
  background-color: #ffa02c;
  padding: 20px 30px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.button,
.button a:focus {
  outline: none;
}
/* Pop_Up */
.pop_up {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 2;
  transform: translateY(-44.5%) scale(0);
  transition: 0.4s ease-in-out;
}
.pop_up.active {
  transform: translateY(0%) scale(100%);

  background-color: rgba(0, 0, 0, 0.7);
}

.pop_up_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.pop_up_body {
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 100px 15px 110px 15px;
  position: relative;
}
.pop_up_body p {
  font-size: 28px;
  font-family: Montserrat;
  font-weight: 600;
  color: #222620;
  margin-bottom: 10px;
}
.pop_up_body input {
  display: block;
  margin: 25px auto 8px auto;
  width: 330px;
  padding: 17px 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  border: none;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  color: #89909f;
}
.pop_up_body input:focus {
  outline: none;
}
.pop_up_body button {
  cursor: pointer;
  display: block;
  width: 250px;
  height: 40px;
  margin: 20px auto 8px auto;
  padding: 8px 8px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  border: none;
  color: #fff;
  border-radius: 10px;
  background-color: #ffa02c;
}

.pop_up_close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 21px;
  cursor: pointer;
}

/*copyright*/

.copyright {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;

  font-size: 14px;
  color: #333;
  text-align: center;
}
.copyright span {
  color: #db00e1;
}

@media (max-width: 1230px) {
  /* Intro */
  .intro__suptitle {
    font-size: 52px;
  }
  .intro__title {
    font-size: 120px;
  }
}

@media (max-width: 990px) {
  /* Intro */
  .nav {
    font-size: 11px;
  }
  .intro__suptitle {
    font-size: 32px;
  }
  .intro__title {
    font-size: 80px;
  }
  /* stat */

  .stat {
    justify-content: center;
  }

  .stat__item {
    flex: none;
    width: 33.33333%;
    border: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .stat__item:last-child {
    border: 0;
  }
  /* Services */
  .services {
    justify-content: center;
  }
  .services__item {
    width: 50%;
  }
  /* Works */
  .works {
    flex-wrap: wrap;
    justify-content: center;
  }
  .works__col {
    flex: none;
    width: 50%;
    max-width: 350px;
  }
  .works__item {
    max-width: 300px;
  }
  /* Footer */
  .footer__col--first {
    width: 100%;
  }
  .footer__col--second,
  .footer__col--third {
    width: 50%;
  }
  /* Instagram */
  .instagram {
    justify-content: flex-start;
  }
  .instagram__item {
    width: auto;
    border-right: 1px solid white;
  }
}

@media (max-width: 770px) {
  /* Intro */

  .intro {
    min-height: 620px;
  }
  /* header */
  .header {
    padding: 10px 0;
  }
  /* nav */
  .nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;

    background-color: #0093f8;
  }
  .nav.active {
    display: block;
  }
  .nav__link {
    display: block;
    margin: 0;
    padding: 8px 20px;
  }
  .nav-toggle {
    display: block;
  }

  /* card */
  .card {
    margin-top: 50px;
    justify-content: center;
  }
  .card__item {
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
  }
  .card__item:last-child {
    margin-bottom: 0;
  }
  /* Section */
  .section {
    padding: 40px 0;
  }
  /* Sercices */
  .services {
    justify-content: center;
  }
  .services__item {
    width: 100%;
    max-width: 400px;
    padding-bottom: 0;
    padding-left: 55px;
  }
  .services__icon {
    left: 0;
  }
  /* Works */
  .works {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* footer */
  .footer__col--second,
  .footer__col--third {
    width: 100%;
  }
}

@media (max-width: 575px) {
  /* Intro */

  .intro__suptitle {
    font-size: 22px;
  }
  .intro__title {
    font-size: 40px;
  }
  /* section */
  .section__header {
    margin-bottom: 50px;
  }

  .section__suptitle {
    font-size: 20px;
  }
  .section__title {
    font-size: 22px;
  }
  .section__title:after {
    margin: 20px auto;
  }
  /* stat */
  .stat__item {
    width: 100%;
    border-bottom: 1px solid #9d9fff;
  }

  .stat__item:last-child {
    border-bottom: 0;
  }
  .stat__count {
    font-size: 52px;
  }
  /* Works */

  .works__col {
    width: 100%;
    max-width: 300px;
  }
  /* Button */
  .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
.button a {
  max-width: 300px;
  font-family: Montserrat;
  background-color: #ffa02c;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button a:focus {
  outline: none;
}

/* pop_up */
.pop_up {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 2;
  transform: translateY(-44.5%) scale(0);
  transition: 0.4s ease-in-out;
}
.pop_up.active {
  transform: translateY(0%) scale(100%);

  background-color: rgba(0, 0, 0, 0.7);
}
.pop_up_container {
  display: flex;
  width: 100%;
  height: 100%;
}
.pop_up_body {
  margin: auto;
  width: 300px;
  height: 355px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 50px 15px 55px 15px;
  position: relative;
}
.pop_up_body p {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  color: #222620;
  margin-bottom: 5px;
}
.pop_up_body input {
  display: block;
  margin: 8px auto 8px auto;
  width: 250px;
  padding: 17px 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  border: none;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  color: #89909f;
}
.pop_up_body input:focus {
  outline: none;
}
.pop_up_body button {
  cursor: pointer;
  display: block;
  width: 200px;
  height: 40px;
  margin: 10px auto 8px auto;
  padding: 8px 8px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  border: none;
  color: #fff;
  border-radius: 10px;
  background-color: #ffa02c;
}

.pop_up_close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 21px;
  cursor: pointer;
}
